# Auto-detect text files, ensure they use LF.
*       text=auto eol=lf

# These files are always considered text and should use LF.
*.php   text eol=lf diff=php

# Exclude non-essential files from dist
/.github export-ignore
/tests export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/infection.json.dist export-ignore
/phpunit.xml.dist export-ignore
