language: php

php:
    - 5.6
    - 7.0
    - hhvm
    - nightly

env:
    - SYMFONY_VERSION=2.7.*
    - SYMFONY_VERSION=2.8.*
    - SYMFONY_VERSION=3.0.*
    - SYMFONY_VERSION=3.1.*
    - SYMFONY_VERSION=dev-master

before_script:
    - composer self-update
    - composer require symfony/symfony:${SYMFONY_VERSION}

script: phpunit --coverage-text

notifications:
    email:
        - "florian.preusner@8points.de"

matrix:
    allow_failures:
        - env: SYMFONY_VERSION=dev-master
        - php: nightly
