language: php

php:
    - 5.4
    - 5.5
    - 5.6
    - hhvm
    - nightly

env:
    - SYMFONY_VERSION=2.6.*
    - SYMFONY_VERSION=dev-master

before_script:
    - composer self-update
    - composer require symfony/symfony:${SYMFONY_VERSION}

script: phpunit --coverage-text

notifications:
    email:
        - "florian.preusner@8points.de"

matrix:
    allow_failures:
        - env: SYMFONY_VERSION=dev-master
