<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" bootstrap="vendor/autoload.php" colors="true"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd">
	<testsuites>
		<testsuite name="GuzzleBundle Test Suite">
			<directory>./Tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory>./</directory>
			<exclude>
				<directory>Resources/</directory>
				<directory>Tests/</directory>
				<directory>vendor/</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
